* {
    font-family: sans-serif;
    color: #163F5E;
}
body {
    background-color: #3295E1;
}
.Header {
    background-color: white;
    padding: 8px 0px 8px 50px;
    display: block;
    margin-left: -8px;
    margin-top: -8px;
    margin-right: -8px;
}

.DataBlock {
    background-color: white;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    margin-top: 60px;
}
.DataBlockSecond {
    background-color: white;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}   
#foto {
    position: absolute;
    margin-bottom: 200px;
    margin-left: -8px;
    top: 30px;
    z-index: -1;
}
#botonIdaVuelta {
    margin-left: auto;
    margin-right: auto;
}
.rutaSelected {
    background-color: #3A516B;
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
    width: 110px;
    text-align: center;
    color:white;
    cursor: pointer;
}
.rutaNotSelected {
    background-color: #EBEBEB;
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
    width: 110px;
    text-align: center;
    cursor: pointer;
}

#rutaSelector {
    padding: 10px;
    font-size: 20px;
    display: inline-block;
    width: 160px;
    text-align: left;
}

#pasajeroDropdown {
    font-size: 20px;
    padding: 10px;
    width: 160px;
    display: inline-block;
    text-align: right;

}

#ErrorMessage {
    color: red;
    text-align: center;
    position: relative;
    top: -2px;
    padding-bottom: 7px;
}

.Container {
    width: 364px;
    margin: auto;
    padding: 3px;
}

select {
    font-size: 20px;
}

#fechaIdaBox {
    padding: 10px;
    font-size: 20px;
    display: inline-block;
    width:160px;

}
#fechaRegresoBox {
    padding: 10px;
    font-size: 20px;
    display: inline-block;
    width: 160px;
    text-align: right;
}

#horaIdaDropdown {
    padding: 10px;
    font-size: 20px;
    display: inline-block;
    width: 160px;
}
#horaRegresoDropdown {
    padding: 10px;
    font-size: 20px;
    display: inline-block;
    width: 160px;
    text-align: right;
}
#continueButton {
    background-color: #EBEBEB;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    width: 110px;
    text-align: center;
    cursor: pointer;

}
#continueButton:hover {
    background-color: #3A516B;
    color:white;
}
#confirmButton {
    background-color: #EBEBEB;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    width: 110px;
    text-align: center;
    cursor: pointer;

}
#confirmButton:hover {
    background-color: #3A516B;
    color:white;
}

a {
    text-decoration: none;
}

.FechaInput {
    height: 20px;
    font-size: 20px;
    width: 120px;
    border-radius: 5px;
    padding: 2px;
}

.Header2 {
    padding-left: 20px;
    padding-top: 15px;
}

.InfoTable {
    margin: auto;
    font-size: 18px;
    margin-top: -10px;
}
.InfoTable td {
    padding: 5px;
}
.InfoTable input {
    height: 20px;
    margin-top: 5px;
    font-size: 14px;
    width: 150px;
    border-radius: 5px;
}
.PagoTable {
    margin: auto;
    font-size: 18px;
    margin-top: -10px;
}
.PagoTable td {
    padding: 5px;
}
.PagoTable input {
    height: 20px;
    font-size: 14px;
    margin-top: 5px;
    border-radius: 5px;
}
#DireccionTable input {
    width: 250px;
}

hr {
    width: 500px;
    align: center;
}

.ConfirmMessage {
    padding: 0px 40px 20px 40px;
    font-size: 16px;
}








